body {
  margin: 20px auto;
  width: 1024px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #74645a;
  line-height: 1.8;
}

main {
  display: flex;
}

.section {
  display: block;
  margin: 60px 10px 60px 10px;
}

.section-title {
  color: #271e1a;
  font-size: 20px;
  font-weight: 900;
}

.section-profile-name {
  color: #271e1a;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
}

.section-job-title {
  color: #271e1a;
  font-size: 30px;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.image {
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
}


.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #b3a396;
  padding: 10px;
  list-style: none;
}

.nav-link {
  color: #EFEFEF;
  padding: 0 12px;
  line-height: 50px;
  text-decoration: none;
}

.nav-link:hover {
  color: #271e1a
}

.contacts-item {
  list-style: none;
}

.contacts-item a {
  color: #fef9f1;
  text-decoration: none;
  transition: color 0.5s;
}

.contacts-item a:hover {
  color: #271e1a
}

.contacts-item span {
  color: #fef9f1;
}

.contacts-icon {
  width: 8%;
  height: 8%;
}

.main-container {
  float: left;
  max-width: 30%;
  margin: 0 auto;
  background-color: #DCD7C9;
  padding: 20px;
}

.right-container {
  background-color: #fef9f1;
  padding: 20px;
}

.section-link {
  color: #74645a;
  text-decoration: none;
  transition: color 0.5s;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #b3a396;
  list-style: none;
}

.footer-item {
  display: block;
  padding: 0;
  margin: 0;
}

.footer-year {
  justify-self: center;
}

.footer-logo {
  width: 30px;
  height: 30px;
}

.footer_rs {
  width: 90px;
  height: 33px;
  padding: 0;
}
